@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Skranji');
@import url('https://fonts.googleapis.com/css?family=Kavivanar');

body {
	background-color: #edddad;
	width: 800px;
	margin: 40px auto;
}

#tumble-div {
	width: 400px;
	margin: 20px;
}

#tumble-paragraph {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #824993;
	color: #edddad;
	padding: 20px;
}

#tumble-paragraph .name {
	font-family: 'Skranji', cursive;
}

#tumble-canvas {
	border: 1px solid black;
	background-color: #824993;
}


#petunius-div {
	width: 400px;
	margin: 20px;
	float: right;
}

#petunius-paragraph {
	font-family: 'Kavivanar', cursive;
	background-color: #317089;
	color: #edddad;
	padding: 20px;
}

#petunius-paragraph .name {
	font-family: 'Skranji', cursive;
}

#petunius-canvas {
	border: 1px solid black;
	background-color: #317089;
	float: right;
}
